<link rel="stylesheet" id="ionicons-css" href="//unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" type="text/css" media="all">
<section class="mobile-menu bg-tan" style="opacity: 0;">
	<div class="">
		<div class="nav--mobile w-100 mobile-nav-sec new-scrollbar relative">
			<div class="menu-mobile-navigation-container">
				<ul class="main-nav cat-nav mobile-menu-links" id="menu-mobile-navigation" style="transform: translateY(-50px); opacity: 0;">
					<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-253" id="menu-item-253">
						<a data-dropdown="dropdown-" href="https://ameliving.com/category/find-beauty/">Find Beauty
						<div class="open-close">
							<i class="icon ion-md-add"></i>
						</div></a>
						<ul class="sub-menu">
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1406" id="menu-item-1406">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/find-beauty/">Find Beauty
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1397" id="menu-item-1397">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/find-beauty/face/">Face
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1396" id="menu-item-1396">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/find-beauty/learn-skincare/">Learn Skincare
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-261" id="menu-item-261">
						<a data-dropdown="dropdown-" href="https://ameliving.com/category/be-well/">Be Well
						<div class="open-close">
							<i class="icon ion-md-add"></i>
						</div></a>
						<ul class="sub-menu">
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1407" id="menu-item-1407">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/be-well/">Be Well
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1398" id="menu-item-1398">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/be-well/health/">Health
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1402" id="menu-item-1402">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/be-well/fitness/">Fitness
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1399" id="menu-item-1399">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/be-well/sexual-wellness/">Sexual wellness
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1400" id="menu-item-1400">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/be-well/recipes/">Recipes
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-258" id="menu-item-258">
						<a data-dropdown="dropdown-" href="https://ameliving.com/category/get-mindful/">Get Mindful
						<div class="open-close">
							<i class="icon ion-md-add"></i>
						</div></a>
						<ul class="sub-menu">
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1408" id="menu-item-1408">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/get-mindful/">Get Mindful
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1404" id="menu-item-1404">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/get-mindful/alignment/">alignment
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
							<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1405" id="menu-item-1405">
								<a data-dropdown="dropdown-" href="https://ameliving.com/category/get-mindful/grow-spiritually/">Grow Spiritually
								<div class="open-close">
									<i class="icon ion-md-add"></i>
								</div></a>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1372" id="menu-item-1372">
						<a data-dropdown="dropdown-" href="https://ameliving.com/category/jenj/">JEN J.</a>
					</li>
					{% comment %}<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263" id="menu-item-263">
						<a data-dropdown="dropdown-" href="https://ameliving.com/shop/">Shop</a>
					</li>{% endcomment %}
				</ul>
			</div>
			<div class="mobile-contact">
				<div class="contact-details">
					<div class="contact-wrap align-center">
						<h3 class="headline-3 font-cadiz-light contact-desc">General questions, comments, and thoughtful ideas</h3>
						<div class="sm-headline margin-top--20">
							<a href="mailto:hello@ameliving.com">hello@ameliving.com</a>
						</div>
					</div>
					<div class="contact-wrap align-center">
						<h3 class="headline-3 font-cadiz-light contact-desc">Press inquiries, site info, sponsorships and sorts</h3>
						<div class="sm-headline margin-top--20">
							<a href="mailto:press@ameliving.com">press@ameliving.com</a>
						</div>
					</div>
					<div class="contact-wrap align-center">
						<h3 class="headline-3 font-cadiz-light contact-desc">To be featured on the site, or other editorial content ideas and suggestions:</h3>
						<div class="sm-headline margin-top--20">
							<a href="mailto:editorial@ameliving.com">editorial@ameliving.com</a>
						</div>
					</div>
					<div class="contact-wrap align-center">
						<h3 class="headline-3 font-cadiz-light contact-desc">For job inquiries, applications, internships, and more:</h3>
						<div class="sm-headline margin-top--20">
							<a href="mailto:careers@ameliving.com">careers@ameliving.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-sm">
		<div class="container-lrg">
			<div class="mobile-menu-footer">
				<ul class="d-flex justify-content-center main-nav mobile-footer-nav">
					<li class="">
						<a href="https://ameliving.com/about">About</a>
					</li><!-- <li class=""><a href="https://ameliving.com/press">Press</a></li> -->
					<li>
						<a class="mobile-contact-trigger" href="https://ameliving.com/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer border-top--brown bg-tan">
			<div class="container-lrg">
				<div class="d-lg-flex align-items-center justify-content-lg-between row">
					<div class="col-12 col-lg-4 order-lg-1" style="padding: 0;">
						<ul class="no-formate d-flex align-items-center justify-content-center social-icons">
							<li>
								<a href="https://www.instagram.com/ameliving/" target="_blank">
                                  <img 
                                    src="{{ 'instagram.svg' | asset_url }}"
                                    width="14"
                                    height="14"
                                    loading="lazy"
                                    alt="AME Instagram Icon" 
                                  />
                                </a>
							</li>
							<li>
								<a href="https://www.pinterest.com/ameliving/" target="_blank">
                                  <img 
                                    src="{{ 'pinterest.svg' | asset_url }}"
                                    width="14"
                                    height="14"
                                    loading="lazy"
                                    alt="AME Pinterest Icon" 
                                  />
							</li>
							<li>
								<a href="https://www.facebook.com/amelivingco" target="_blank">
                                  <img 
                                    src="{{ 'facebook.svg' | asset_url }}"
                                    width="14"
                                    height="14"
                                    loading="lazy"
                                    alt="AME Facebook Icon" 
                                  />
							</li>
							<li>
								<a href="https://twitter.com/amelivingco" target="_blank">
                                  <img 
                                    src="{{ 'twitter.svg' | asset_url }}"
                                    width="14"
                                    height="14"
                                    loading="lazy"
                                    alt="AME Twitter Icon" 
                                  />
							</li>
							<li>
								<a href="https://www.youtube.com/channel/UC1W_-s386TJ3GP2l0nI3tdA/about?view_as=subscriber" target="_blank">
                                  <img 
                                    src="{{ 'youtube.svg' | asset_url }}"
                                    width="14"
                                    height="14"
                                    loading="lazy"
                                    alt="AME Youtube Icon" 
                                  />
							</li>
						</ul>
					</div>
					<div class="col-12 col-md-6 col-lg-4 order-lg-0 d-md-flex justify-content-md-center justify-content-lg-start align-center-lg align-items-center">
						<div class="">
							<div class="sm-headline caps footer-terms">
								©copyright Âmé
							</div>
						</div>
						<div class="">
							<a class="sm-headline caps footer-terms" href="http://nicepeople.com" target="_blank">Made By Nice People</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 d-md-flex justify-content-md-center justify-content-lg-end align-items-center order-3 align-center-lg">
						<div class="">
							<a class="sm-headline caps footer-terms" href="https://ameliving.com/privacy-policy" target="_blank">Privacy Policy</a>
						</div>
						<div>
							<a class="sm-headline caps footer-terms" href="https://ameliving.com/terms-conditions" target="_blank">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
  function mobileSubMenu() {
    let currentMenuItem = false;
  
    $('.mobile-menu li .sub-menu a').click(function(){
      window.location.href = $(this).attr('href');
    });
  
    $('.mobile-menu li.menu-item-has-children').click(function(e){
  
      e.preventDefault();
  
      //$('.mobile-menu li.menu-item-has-children').removeClass('go');
  
      if(!currentMenuItem) {
        $(this).addClass('go');
        currentMenuItem = $(this);
        return;
      }
  
      if($(this).hasClass('go')) {
        $(this).removeClass('go');
      } else {
        $('.mobile-menu li.menu-item-has-children').removeClass('go');
        $(this).addClass('go');
      }
  
  
    });
  }
    
  function mobileMenu() {
    $('.hamburger--slider').click(function(){
      $('body').toggleClass('no-scroll');
      if($(this).hasClass('is-active')) {
        animationReverse = true;
        $(this).removeClass('is-active');
        setTimeout(function() {
          $('.primary-nav-wrapper').removeClass('bg-tan')
        }, 600);
      } else {
        animationReverse = false;
        $('.mobile-menu').addClass('go');
        $(this).addClass('is-active');
        $('.primary-nav-wrapper').addClass('bg-tan')
      }
  
      if(animationReverse) {
        let mobileMenuTimelineReverse = anime.timeline({
          easing: 'linear',
          duration: 200,
        });
  
        mobileMenuTimelineReverse
        .add({
          targets: '.mobile-menu-links',
          translateY: (0, '-50px'),
          opacity: 0,
          easing: 'linear', //'linear', // easeInOutExpo
          duration: 200,
        })
        .add({
          targets: '.mobile-menu',
          opacity: 0,
          easing: 'linear', //'linear', // easeInOutExpo
          duration: 100,
          complete: function(){
            $('.mobile-menu').removeClass('go');
          },
        });
  
      } else {
        let mobileMenuTimeline = anime.timeline({
          easing: 'linear',
          duration: 200,
        });
  
        mobileMenuTimeline
        .add({
          targets: '.mobile-menu',
          opacity: 1,
          easing: 'linear', //'linear', // easeInOutExpo
          duration: 100,
        })
        .add({
          targets: '.mobile-menu-links',
          translateY: ('-50px', 0),
          opacity: 1,
          easing: 'linear', //'linear', // easeInOutExpo
          duration: 200,
        });
      }
  
    });
  }
  
  mobileMenu();

  mobileSubMenu();  
</script>